<h3>Hello!<br/></h3>
<h3>Please enter your name to join and share your ideas!</h3>
<form class="form-horizontal">
	<div class="form-group">
		<label class="control-label col-md-2">User Name:</label>
		<div class="col-md-4">	
			<input class="form-control" ng-model="user.name" placeholder="Your Name..."/>
		</div>
	</div>
	<div class="form-group">
		<!-- <a href="#/dashboard"> --><button class="btn btn-primary col-md-1 col-md-offset-4" ng-click="checkUser(user)">Submit</button><!-- </a> -->
	</div>
</div>